
{% extends 'main.html' %}
{% block content %}
    <div style="text-align: center; margin-top: 50px;" >
        <form action="{{ url_for('main.edit_post', post_id=post.id) }}" method="post" enctype="multipart/form-data">
            <h1 style="text-align: center;">Edit Post</h1>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">  
            <div style="text-align: center;">
                <h3>Audience</h3>
                <div class="form-check">
                    {% if post.post_type == 'anonym' %}
                        <input class="form-check-input" type="radio" name="poster_type" id="flexRadioDefault1" checked value="anonym">
                        <label class="form-check-label" for="flexRadioDefault1">
                        Anonym Post
                        </label>
                    {% else %}
                        <input class="form-check-input" type="radio" name="poster_type" id="flexRadioDefault1"  value="anonym">
                        <label class="form-check-label" for="flexRadioDefault1">
                        Anonym Post
                        </label>
                    {% endif %}
                  </div>
                  <div class="form-check">
                
                    {% if post.post_type == 'normal' %}
                        <input class="form-check-input" type="radio" name="poster_type" id="flexRadioDefault2" checked value="normal">
                        <label class="form-check-label" for="flexRadioDefault2">
                        Normal Post
                        </label>
                    {% else %}
                        <input class="form-check-input" type="radio" name="poster_type" id="flexRadioDefault2" value="normal">
                        <label class="form-check-label" for="flexRadioDefault2">
                        Normal Post
                        </label>
                    {% endif %}
                  </div>
                  <div class="form-check">
                    {% if post.post_type == 'vip' %}
                        <input class="form-check-input" type="radio" name="poster_type" id="flexRadioDefault3" checked value="vip">
                        <label class="form-check-label" for="flexRadioDefault3">
                        Vip Post
                        </label>
                    {% else %}
                        <input class="form-check-input" type="radio" name="poster_type" id="flexRadioDefault3" value="vip">
                        <label class="form-check-label" for="flexRadioDefault3">
                        Vip Post
                        </label>
                    {% endif %}
                  </div>
            </div>
            <div class="input-group" style="width:40%; margin-left:500px;resize: none;">
                <textarea class="form-control" aria-label="With textarea" name="post_content" rows="10" cols="200" required>{{post.post_text}}</textarea>
            </div>
            <div class="form-group" style="text-align: center; margin-left:40%; margin-right: 50%; width: 300px;">
                <input type="file" name="post_image" class="form-control" id="formFile">
                <label for="formFile" class="form-label">Upload Item Image</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}


