<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <header class="main-header">
        <div class="container">
            <li class="socinho" ><a href="{{ url_for('main.index') }}">SOCINHO</a> </li>
            {% if current_user.is_authenticated %}
                <form action="{{ url_for('main.search') }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="input-group">
                        <input  type="search" class="form-control rounded" placeholder="search.." aria-label="Search" aria-describedby="search-addon" name="search" required />
                        <select class="form-select" aria-label="Default select example" onchange="this.form.submit()" name="search_filter">
                            <option value="posts" >Posts</option>
                            <option value="users" >Users</option>
                        </select>
                    </div>
                </form>
            {% endif %}
    
            <nav class="main-navigation">
                
            
                {% if current_user.username %}
                    <li><a href="{{ url_for('main.play_for_earn') }}">Earn Flask Coin </a></li>
                    <li><a href="/create-post" data-toggle="modal" data-target="#mymodal">Create Post</a></li>
                    <li><a href="/leaderboard">Leaderboard</a></li>
                    <li><a href="{{ url_for('main.user_profile') }}">{{current_user.username}}</a></li>
                    <li><p class="balance" style="margin: 0">Flask Coin : {{ current_user.flask_coin }}</p>

                {% endif %}
            </nav>
            <div>
                {% if current_user.username %}
                    <li>
                        <form action="{{ url_for('main.logout') }}">
                            <button name="submit" type="submit" class="btn btn-danger">Log Out</button>
                        </form>
                        
                    </li>  
                {% endif %}
            </div>
                
            <div class="burger-menu">
                <div class="burger"></div>  
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
    $(".burger-menu").click(function () {
        $(this).toggleClass("menu-on");
        $(".main-navigation").toggleClass("active")
    });
    $(".main-navigation li a").click(function () {
        $(".main-navigation").removeClass("active");
        $(".burger-menu").removeClass("menu-on")
    });
    </script>
    <div id="mymodal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create Your Post</h4>
    
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('main.create_post') }}" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="poster_type" id="flexRadioDefault0" value="vip">
                                <label class="form-check-label" for="flexRadioDefault0">
                                VIP - 100
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="poster_type" id="flexRadioDefault1" value="anonym">
                                <label class="form-check-label" for="flexRadioDefault1">
                                  Anonym Post - 80
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="poster_type" id="flexRadioDefault2" checked value="normal">
                                <label class="form-check-label" for="flexRadioDefault2">
                                  Normal Public - 50
                                </label>
                              </div>
                            <label style="font-size:25px;">Post Content</label>
                                <textarea class="form-control" aria-label="With textarea" placeholder="Text...." name="post_content" rows="10" cols="200" required></textarea>
                        </div>
                        <div class="form-group" style="text-align: center;">
                            <input type="file" name="post_image" class="form-control" id="formFile">
                            <label for="formFile" class="form-label">Upload Item Image</label>
                        </div>
    
                        <div class="form-group" style="text-align: center; margin-top:15px;">
                            <button class="btn btn-primary" type="submit">Post Status</button>
    
                        </div>
    
                    </form>
    
    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
    
        </div>
    
    </div>
    <script>
        // send request to the server endpoint /get-balance to get the data, every 15 seconds
        // then get element by class="balance" and update the text with the new data
        setInterval(function () {
            $.get("{{url_for('api.get_balance')}}", function (data) {
                console.log(data);
                $(".balance").text("Flask Coin : " + data.user_balance);
            });
        }, 20000);
    </script>
</body>
</html>

