{% extends "main.html" %}

{% block content %}
{% if posts %}
<table class="table filtered-posts" style="width:60%;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Post Text</th>
      <th scope="col">Post Author</th>
      <th scope="col">Post Type</th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
        <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{ post['post'].post_text }}</td>
        {% if post['post'].post_type == 'anonym' %}
        <td>Anonymous</td>
        {% else %}
        <td>{{ post['user'].username }}</td>
        {% endif %}
        <td>{{ post['post'].post_type }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
    <div class="no-posts-found">
        <h1>No posts found</h1>
    </div>
{% endif %}
{% endblock content %}